body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inicio {
  display: flex;
  height: 100vh;
  background-color: #fbf2e2ff;
  padding: 1%;
  box-sizing: border-box;
}

/* Main content */
.main-content {
  flex: 1;
  background-color: rgb(245, 245, 245);
  margin-left: 24px;
  border-radius: 16px;
  padding: 32px;
  padding-top: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
  transition: all 0.3s ease;
}
.main-content:hover {
  overflow-y: auto;
}
.main-content::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
.main-content::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 8px;
}
.main-content:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
}

h1 {
  font-size: 22px;
}

